<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		<style>
			div.ponder{
				width: 100px;
				display: none;
			}
			span:hover + div.ponder{
				display: block;
			}
		</style>
		</head>
			
				
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li class="hide.text"> <span class="hide.text"> <a class="hide.text" href="/blog/bloop1.html">CV</a> </span> <div class="ponder"> why?! </div> </li>
	        		<li><a href="/blog">Blog</a></li>
				<li class="hide.text"><a class="hide-text" href="/himars">HiMars</a></li>
	    		</ul>
			</nav>
			<div class="post">
				<div class="post single">
					<h1 class="title">{{ page.title }}</h1>

					<h2 class="date"><info datetime="{{ page.date }}">
						{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
					</info></h2>
					<!-- Post content -->
					<div class="postbody">
						{{ content }}
					</div>
					<!-- Post info -->
					<div class="postinfo">
					<!-- include some categories and tags maybe? -->
					</div>

					<hr>

					<!-- Post comments -->
					<div class="postcomments">
						{% include disqus.html %}	 
					</div>
				</div><!-- / .post .single -->
			</div><!-- /.post -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:soumavapal@gmail.com">email</a></li>
	        		<li class="hide.text"><a class="hide-text" href="https://github.com/Fawkes4494d3">github.com/Fawkes4494d3</a></li>
				</ul>
			</footer>
		</body>
	</html>

